.cartBox{
    background-color:rgb(6, 36, 36);
    margin-inline: 20%;
    margin-top: 5%;
    position: absolute;
    z-index: 20;
    width: 50%;
    border-radius: 25px;
    padding:4%;
    top:20%;
    color: white;
}

.overlay{
    background-color: rgb(70, 183, 143);
    width: 100%;
    height: 100%;
    opacity: 30%;
    position: absolute;
    z-index: 10;
    top:0;
}

.button{
    display: flex;
    justify-content: center;
}

.button button{
    padding:20px;
    font-size: large;
    font-weight: 300;
}