.productSection{
    background-color: rgb(227, 212, 194);
    margin: 3%;
    padding: 2%;
    position:relative;
    border-radius:25px;
    text-align: center;
    width: 90%;
}

.items{
    display: flex;
    justify-content:space-around;

}

.quantitybuttons{
    display: flex;
    justify-content: flex-end;
}